<form
  id="login-form"
  method="POST"
  class=""
  {% if use_htmx %}
    hx-post="{{ url_for('html:login_post' ) }}" hx-target="body"
    hx-target-4*="#login-form" hx-swap="outerHTML"
  {% else %}
    action="{{ url_for('html:login_post' ) }}"
  {% endif %}
>
  {{ render_partial('shared/partials/flash_message.html', message=message) }}
  <div class="flex flex-col gap-6 mb-10">
    {{ login_form.redirect_url() }}
    {{ render_partial('shared/partials/forms/field.html', field=login_form.username) }}
    {{ render_partial('shared/partials/forms/field.html', field=login_form.password) }}
  </div>
  {{ render_partial('shared/partials/forms/submit_button.html', text="Log in", class="w-full") }}
  <p class="mt-8">
    Don't have an account?
    <a
      href="{{ url_for('html:register_get') }}{% if login_form.redirect_url.data %}?redirect_url={{ login_form.redirect_url.data }}{% endif %}"
      class="link"
      >Register here...</a
    >
  </p>
</form>
