<form
  method="POST"
  action="{{ url_for('html:post_password_reset', reset_token_query=reset_token_query) }}"
>
  {{ render_partial('shared/partials/forms/top_error.html', message=message) }}
  <div class="mb-6">
    {{ render_partial('shared/partials/forms/password_field.html', field=form.password) }}
    {{ render_partial('shared/partials/forms/password_field.html', field=form.confirm_password) }}
  </div>
  {{ render_partial('shared/partials/forms/submit_button.html', text="Reset password", class="max-lg:w-full") }}
</form>
