<form
  method="POST"
  enctype="multipart/form-data"
  action="{{ url_for('html:user_settings_post' ) }}"
>
  {{ render_partial('shared/partials/flash_message.html', message=message) }}
  <div class="grid grid-cols-2 gap-6 max-lg:grid-cols-1 mb-12">
    {{ render_partial('shared/partials/forms/field.html', field=form.email, class="col-span-2 max-lg:col-span-1") }}
    {{ render_partial('shared/partials/forms/field.html', field=form.username) }}
    {{ render_partial('shared/partials/forms/field.html', field=form.name) }}
    {{ render_partial('shared/partials/forms/field.html', field=form.password) }}
    {{ render_partial('shared/partials/forms/field.html', field=form.confirm_password) }}
    {{ render_partial('shared/partials/forms/field.html', field=form.timezone) }}
  </div>
  <div class="mb-12">
    <div
      id="avatar-image"
      class="w-36 h-36 rounded-full overflow-hidden flex items-center justify-center mx-auto mb-12"
    >
      {{ render_partial('users/partials/avatar.html', class="w-full h-full object-cover", request=request, current_user=current_user) }}
    </div>
    <div
      class="col-span-2 max-lg:col-span-1 flex items-center justify-start gap-8 max-lg:flex-col"
    >
      {{ render_partial('shared/partials/forms/file_upload_field.html', field=form.avatar_upload, class="max-lg:w-full", extra_fields={"@change":"setAvatarImage()"}) }}
      <span class="text-lg font-bold">OR</span>
      {{ render_partial('shared/partials/forms/field.html', field=form.avatar_url, class="w-full", extra_fields={"@change":"setAvatarImage()"}) }}
    </div>
  </div>

  {{ render_partial('shared/partials/forms/submit_button.html', text="Update Settings", class="max-lg:w-full") }}
</form>
