{% extends "shared/base.html" %}
{% block content %}
  <section>
    <div class="mx-auto px-6 max-w-3xl pt-40 pb-72">
      <h1 class="text-4xl mt-10 mb-10 font-bold">Sign In</h1>
      {{ render_partial('users/partials/login_form.html', request=request, login_form=login_form, message=message) }}
      <p class="mt-8">
        Don't have an account?
        <a
          href="{{ url_for('html:register_get') }}{% if login_form.redirect_url.data %}?next={{ login_form.redirect_url.data }}{% endif %}"
          class="link"
          >Register here...</a
        >
      </p>
    </div>
  </section>
{% endblock content %}
