{% extends "shared/base.html" %}
{% set page_title = "Password Reset Request" %}

{% block content %}
  <section>
    <div class="section-container pt-40 pb-72">
      <h1 class="text-4xl mt-10 mb-10 font-bold">
        Request a password reset email
      </h1>
      {{ render_partial('users/partials/request_password_reset_form.html', request=request, form=form, message=message) }}
      <p class="mt-12">
        <a href="{{ url_for('html:login_get') }}" class="link">
          Back to login...
        </a>
      </p>
    </div>
  </section>
{% endblock content %}
