{% extends "shared/base.html" %}
{% block content %}
  <main>
    <section>
      <div class="section-container pt-40 pb-72">
        <h1 class="text-4xl mt-10 mb-10 font-bold">User Settings</h1>
        {{ render_partial('users/partials/settings_form.html', request=request, form=form, message=message, current_user=current_user) }}
      </div>
    </section>
  </main>
{% endblock content %}

{% block custom_js %}
  <script>
    function setAvatarImage() {
      const imgPreview = document.getElementById("avatar-image")
      const chooseFile = document.getElementById("{{ form.avatar_upload.id }}")
      const remoteFile = document.getElementById("{{ form.avatar_url.id }}")

      const files = chooseFile.files[0]
      console.log(files)
      if (files) {
        const fileReader = new FileReader()
        fileReader.readAsDataURL(files)
        fileReader.addEventListener("load", function () {
          imgPreview.innerHTML =
            '<img src="' + this.result + '" class="object-cover h-36 w-36" />'
        })
        console.log("uploaded file")
      } else if (remoteFile.value) {
        imgPreview.innerHTML =
          '<img src="' +
          remoteFile.value +
          '" class="object-cover h-36 w-36" />'
        console.log("remote file")
      }
    }
  </script>
{% endblock custom_js %}
