/* Connect 4 CSS */
h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

.avatar {
  max-width: 200px;
  height: auto;
  padding: 25px;
}

.active-player {
  padding: 0;
}

.mw-red {
  background-color: #f44336;
}

.mw-green {
  background-color: #4caf50;
}

.mw-yellow {
  background-color: #ffeb3b;
}

.mw-selected {
  border: 4px solid gray;
}

.connect-4-table {
  margin: auto;
  border-collapse: separate;
}

.circles {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: dimgrey;
  border-spacing: 0;
  border: 4px solid black;
}

.dark .circles {
  border: 4px solid silver;
}

.ai-weight {
  color: black;
}

.chosen {
  border: 7px dashed yellow;
}

.dark .chosen {
  border: 7px dashed yellow;
}

@media (width <= 768px) {
  .circles {
    width: 70px;
    height: 70px;
  }
}

@media (width <= 640px) {
  .circles {
    width: 60px;
    height: 60px;
  }
}

@media (width <= 450px) {
  .circles {
    width: 50px;
    height: 50px;
  }
}

@media (width <= 380px) {
  .circles {
    width: 40px;
    height: 40px;
  }
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

/* Blue winning color animation */
.color-blue-win {
  animation: colorchange-blue 3s infinite;
}

@keyframes colorchange-blue {
  0% {
    background-color: blue;
  }

  10% {
    background-color: blue;
  }

  40% {
    background-color: green;
  }

  60% {
    background-color: green;
  }

  90% {
    background-color: blue;
  }

  100% {
    background-color: blue;
  }
}

/* Red winning color animation */
.color-red-win {
  animation: colorchange-red 3s infinite;
}

@keyframes colorchange-red {
  0% {
    background-color: red;
  }

  10% {
    background-color: red;
  }

  40% {
    background-color: green;
  }

  60% {
    background-color: green;
  }

  90% {
    background-color: red;
  }

  100% {
    background-color: red;
  }
}
