<!-- Toggle -->
<div class="flex items-center" x-id="['toggle-label']">
  <!-- Label -->
  <label
    @click="$refs.toggle.click(); $refs.toggle.focus()"
    :id="$id('toggle-label')"
  >
    {{ label }}
  </label>

  <!-- Button -->
  <button
    x-ref="toggle"
    x-cloak="true"
    @click="{{ var }} = ! {{ var }}"
    type="button"
    role="switch"
    :aria-checked="{{ var }}"
    :aria-labelledby="$id('toggle-label')"
    :class="{{ var }} ? 'bg-primary-500 hover:bg-primary-600' : 'bg-grayscale-300 hover:bg-grayscale-400 dark:bg-grayscale-600 hover:dark:bg-gray-500'"
    class="relative ml-4 inline-flex w-14 rounded-full py-1 transition"
  >
    <span
      :class="{{ var }} ? 'translate-x-7' : 'translate-x-1'"
      class="bg-white h-6 w-6 rounded-full transition shadow-md"
      aria-hidden="true"
    ></span>
  </button>
</div>
