{% if not extra_fields %}
  {% set extra_fields = {} %}
{% endif %}
{% if field.description %}
  {% set _ = extra_fields.update({"placeholder": field.description}) %}
{% endif %}
<div class="flex flex-col gap-2 {{ class }}">
  {% if not hide_label %}
    {{ field.label(class='' +  (' text-red-800 dark:text-red-300' if field.errors else '')) }}
  {% endif %}
  {{
    field(class=alternative_field_class if alternative_field_class else "form-field" + (' ' + field_class if field_class else '')
    + (' form-field-errors' if field.errors else ''),
    **extra_fields)
  }}
  {{ render_partial('shared/partials/forms/field_errors.html', errors=field.errors) }}
</div>
