{% if not extra_fields %}
  {% set extra_fields = {} %}
{% endif %}
{% if field.description %}
  {% set _ = extra_fields.update({"placeholder": field.description}) %}
{% endif %}

<div class="flex flex-col gap-2 {{ class }}">
  {% if not hide_label %}
    {{ field.label(class='' +  (' text-red-800 dark:text-red-300' if field.errors else '')) }}
  {% endif %}
  <div x-data="{passwordVisible: false}" class="flex">
    <input
      autocomplete="current-password"
      class="rounded-l-lg focus-visible:ring-4 focus-visible:ring-primary-300 text-grayscale-700 dark:bg-grayscale-700 dark:text-white dark:placeholder:text-grayscale-400 w-full
      {% if field.errors %}
        border-red-700 dark:border-red-400
      {% endif %}"
      id="{{ field.id }}"
      name="{{ field.name }}"
      {% for validator in field.validators %}
        {% if hasattr(validator, 'field_flags') %}
          {% for flag, val in validator.field_flags.items() %}
            {{ flag }}="{{ val }}"
          {% endfor %}
        {% endif %}
      {% endfor %}
      {% for attr, val in extra_fields.items() %}
        {{ attr }}="{{ val }}"
      {% endfor %}
      :type="passwordVisible ? 'text' : 'password'"
    />
    <button
      x-on:click="passwordVisible = !passwordVisible"
      type="button"
      class="px-3 py-1 border-l-0 btn-outline dark:border-gray-500 dark:hover:bg-offset-950 rounded-r-lg"
    >
      <span x-show="passwordVisible"
        >{{ render_partial('shared/partials/icons/eye.html', title="hide password") }}</span
      >
      <span x-show="!passwordVisible"
        >{{ render_partial('shared/partials/icons/eye-slash.html', title='show password') }}</span
      >
    </button>
  </div>

  {{ render_partial('shared/partials/forms/field_errors.html', errors=field.errors) }}
</div>
