{% set static_version = 1 %}
<!doctype html>
<html
  lang="en"
  x-data="{darkMode: $persist(window.matchMedia('(prefers-color-scheme: dark)').matches), smoothScroll: true}"
  :class="{'scroll-smooth': smoothScroll, 'scroll-auto': !smoothScroll,  'dark': darkMode}"
  class="max-xl:text-[95%] max-lg:text-[90%] max-md:text-[85%]"
  hx-ext="response-targets"
>
  {% include 'shared/partials/head.html' %}
  {% if not body_class %}
    {% set body_class = "text-neutral-700 dark:text-neutral-100 dark:bg-grayscale-900" %}
  {% endif %}
  <body
    class="{{ body_class }}"
    hx-boost="true"
    hx-target-error="body"
    hx-swap="outerHTML"
  >
    {# Weird hack to make top spacing not break #}
    <div class="h-[0.02px]"></div>

    {% include 'shared/partials/refresh_access.html' %}
    {% include 'shared/partials/navbar.html' %}
    {{ render_partial('shared/partials/flash_messages.html', request=request) }}

    <main>
      {% block content %}
      {% endblock content %}
    </main>
    {% include "shared/partials/footer.html" %}
  </body>
  {% include "shared/partials/after_body.html" %}
</html>
