{% extends "shared/base.html" %}
{% set active_nav_item = 4 %}

{% block content %}
  <div class="px-8 my-36">
    {% if form.is_new %}
      <h1 class="text-center text-5xl font-bold mb-20">Create New Blog Post</h1>
    {% else %}
      <h1 class="text-center text-5xl font-bold mb-24">Edit Blog Post</h1>
    {% endif %}
    <div class="grid grid-cols-2 gap-12">
      {{ render_partial('blog/partials/edit_post_form.html', request=request, form=form, message=message) }}
      <div>
        <h2>Second section</h2>
      </div>
    </div>
  </div>
{% endblock content %}
