{% extends "shared/base.html" %}
{% set active_nav_item = 4 %}
{% set page_title = "Blog" %}
<!-- prettier-ignore-start -->
{% block meta_description %}Teddy Williams' blog. The page includes a list of blog posts that can be searched. Click on a blog post title to go to that blog post.{% endblock meta_description %}
<!-- prettier-ignore-end -->
{%
  set admin_extras = [
  {"href": url_for("html:create_bp_get"),
  "icon": "hammer",
  "text": "Create Blog Post"}
  ]
%}
{% block custom_js_end %}
  <script nonce="{{ request.state.nonce }}">
    lazyLoadVideos()
  </script>
{% endblock custom_js_end %}
{% block custom_css %}
  <link
    rel="stylesheet"
    href="{{ url_for('html:static', path='css/blog-code-hilights.css') }}?{{ static_version }}"
  />
{% endblock custom_css %}

{% block content %}

  {% if form.page.data == 1 %}
    <section>
      <div class="section-container pt-64 pb-36">
        <h1 class="text-6xl font-bold mb-20">Code Chronicles</h1>
        <p class="text-2xl max-w-3xl mb-10">
          In the dim glow of my computer screen, after hours of wrestling with a
          particularly stubborn bug, it finally happened. The lines of code
          aligned, the program ran seamlessly, and I felt that rush of triumph.
          Join me as I revisit these eureka moments and unravel the mysteries
          behind the code.
        </p>
        <p class="text-2xl max-w-3xl">
          I write about my experiences and journey as a software developer,
          about coding topics that I've struggled with in the hopes that you
          don't have to, and about things I've learned that I think are awesome.
          This space is a melting pot of tutorials, discussions on tools, and
          explorations of intriguing software development concepts. Enjoy!
        </p>
      </div>
    </section>
  {% else %}
    <div class="section-container pt-64"></div>
  {% endif %}

  <section
    id="posts-section"
    class="section-container mb-28"
    x-data="{compact: $persist(true)}"
  >
    {{ render_partial('blog/partials/list_posts_form.html', request=request, form=form) }}
    <div :class="compact ? '' : 'max-w-3xl'">
      {{ render_partial('blog/partials/listed_posts.html', request=request, paginator=paginator or None) }}
    </div>
  </section>

  {{ render_partial('shared/partials/previous_next_nav.html', previous_page=("Experience", url_for("html:experience"))) }}
{% endblock content %}
