{% extends "shared/base.html" %}
{% set active_nav_item = 4 %}
{%
  set admin_extras = [
  {"href": url_for("html:edit_bp_get", bp_id=blog_post.id),
  "icon": "pencil",
  "text": "Edit Blog Post"},
  {"href": url_for("html:create_bp_get"),
  "icon": "hammer",
  "text": "Create Blog Post"},
  ]
%}

{% block custom_js %}
  <script>
    // Highlight the table of contents element that corresponds to the current
    // scroll position
    function highlightTocElement(id) {
      const navLinks = document.querySelectorAll("#toc a")
      const highlightedNavLink = document.querySelector(`#toc a[href='#${id}']`)
      if (!highlightedNavLink) {
        return
      }
      navLinks.forEach((a) => {
        a.classList.remove("blog-nav-highlight")
      })
      highlightedNavLink.classList.add("blog-nav-highlight")
    }

    function addConfirmEventListener(id) {
      const el = document.getElementById(id)
      if (!el) {
        return
      }
      // Confirm before proceeding with an htmx request
      el.addEventListener("htmx:confirm", function (e) {
        e.preventDefault()
        Swal.fire({
          title: "Proceed?",
          text: e.detail.question,
          showCancelButton: true,
          confirmButtonText: "Delete",
        }).then(function (result) {
          if (result.isConfirmed) {
            e.detail.issueRequest(true) // use true to skip window.confirm
          }
        })
      })
    }
  </script>
{% endblock custom_js %}

{% block custom_css %}
  <link
    rel="stylesheet"
    href="{{ url_for('html:static', path='css/blog-code-hilights.css') }}?{{ static_version }}"
  />
{% endblock custom_css %}

<!-- For tailwind -->
<div class="ml-6 ml-8 flex flex-col gap-4"></div>

{% block content %}
  <div
    class="bg-offset-200 dark:bg-grayscale-800 border-b-[1.5px] border-grayscale-300 dark:border-grayscale-900"
  >
    <header class="section-container pt-44 pb-32">
      <h1
        x-intersect="highlightTocElement('')"
        id="blog-title"
        class="text-5xl mb-32 font-bold max-w-4xl"
      >
        {{ blog_post.title }}
      </h1>
      <div class="flex flex-col gap-2 text-xl max-xs:text-lg max-w-xl">
        {% set created_date = blog_post.created_timestamp.strftime('%B %d, %Y') %}
        {% set updated_date = blog_post.updated_timestamp.strftime('%B %d, %Y') %}
        <p>
          <span>{{ created_date }}</span> /
          <span>{{ blog_post.read_mins }} min read</span>
          /
          <span>
            <span class="inline-flex items-center gap-1.5">
              <span>{{ "{:,}".format(blog_post.views) }}</span>
              {{ render_partial('shared/partials/icons/eye.html', class="h-6 inline-block", title="views") }} </span
            >,&nbsp;
            <span class="inline-flex items-center gap-1.5">
              <span>{{ "{:,}".format(blog_post.likes) }}</span>
              {{ render_partial('shared/partials/icons/heart.html', class="h-5 inline-block", title="likes") }}</span
            >,&nbsp;
            <span class="inline-flex items-center gap-1.5">
              <span>{{ "{:,}".format(blog_post.comments|length) }}</span>
              {{ render_partial('shared/partials/icons/chat-circle-text.html', class="h-5 inline-block", title="comments") }}</span
            >
          </span>
        </p>
        <p class="max-xs:text-lg">Last Updated: {{ updated_date }}</p>
        <p class="flex flex-row gap-2 flex-wrap">
          {% for tag in blog_post.tags %}
            <a
              href="#"
              class="rounded-full py-1 px-4 bg-primary-300 dark:bg-offset-800"
              >{{ tag.tag }}</a
            >
          {% endfor %}
        </p>
      </div>
    </header>
  </div>

  <div
    x-data="{ tocOpen: false, allowTocClose: false }"
    class="break-words text-wrap"
  >
    <div class="max-w-[100rem] border-b dark:border-grayscale-900">
      <div
        class="grid grid-cols-[minmax(20rem,_1fr)_4fr_minmax(20rem,_1fr)] max-2xl:grid-cols-[minmax(20rem,_1fr)_4fr_minmax(16rem,_1fr)] max-xl:grid-cols-[minmax(20rem,_1fr)_3fr] max-lg:grid-cols-[minmax(14rem,_1fr)_3fr] max-md:grid-cols-1 gap-20 max-xl:gap-12 md:relative "
      >
        <!-- Table of Contents -->
        <div id="toc-outer" class="md:bg-offset-50 md:dark:bg-grayscale-800">
          <button
            x-cloak
            @click="tocOpen = false; allowTocClose = false"
            :class="{'hidden': !tocOpen}"
            class="fixed top-36 right-28 z-50 rounded-full md:hidden"
          >
            {{ render_partial('shared/partials/icons/x.html', class="w-6 h-6 fill-grayscale-800 dark:fill-gray-100 hover:fill-primary-700 dark:hover:fill-primary-400 transition") }}
          </button>
          <div
            x-cloak
            class="max-md:fixed max-md:top-0 max-md:left-0 max-md:w-full max-md:h-full bg-white/20 dark:bg-grayscale-900/20 backdrop-blur-sm"
            :class="{'max-md:hidden': !tocOpen}"
          ></div>
          <div
            x-cloak
            class="pb-8 text-xl max-md:bg-offset-50 max-md:dark:bg-grayscale-800 md:sticky md:top-0 md:h-screen overflow-y-auto px-4

            max-md:z-10 max-md:p-10 max-md:rounded-3xl max-md:shadow-md max-md:fixed max-md:top-1/2 max-md:mt-10 max-md:h-5/6 max-md:w-5/6 max-md:left-1/2 max-md:-translate-x-1/2 max-md:-translate-y-1/2
            "
            :class="{'max-md:hidden': !tocOpen}"
            @click.away="if (allowTocClose) {tocOpen = false; allowTocClose = false}"
          >
            <h2 class="text-2xl font-semibold mb-8 md:mt-16">
              Table of Contents
            </h2>
            {{ blog_post.html_toc|safe }}
          </div>
        </div>

        <!-- Middle section (Article+) -->
        <div
          class="max-w-3xl pt-24 max-xl:pr-10 px-2 max-md:px-8 max-md:mx-auto pb-36 overflow-x-hidden max-sm:max-w-full

          @prose prose-2xl prose-h4:text-2xl prose-ul:list-disc prose-ol:list-decimal prose-li:my-0 prose-ul:my-0 prose-ol:my-0 prose-li:leading-8 prose-a:link prose-a:link-underlined prose-headings:font-semibold prose-code:bg-grayscale-200 dark:prose-code:bg-grayscale-700 prose-code:rounded prose-code:py-0.5 prose-code:px-1 prose-blockquote:border-l-8 prose-blockquote:border-primary-300 dark:prose-blockquote:border-primary-900 prose-blockquote:bg-grayscale-100 dark:prose-blockquote:bg-grayscale-800 prose-blockquote:rounded-r-lg prose-blockquote:pr-4 prose-blockquote:py-0.5"
        >
          <!-- Blog article -->
          {{ render_partial('blog/partials/post_body.html', request=request, blog_post=blog_post) }}

          <!-- About the author -->
          {{ render_partial('blog/partials/about_the_author.html', request=request) }}

          <!-- Comments -->
          {{ render_partial('blog/partials/comments.html', request=request, current_user=current_user, blog_post=blog_post, liked=liked, comment_form=comment_form) }}
        </div>

        <!-- Extras -->
        <section class="text-xl max-xl:hidden pt-16 pr-8">
          <div class="pb-36">
            <h2 class="text-2xl font-semibold mb-8 mt-16">extra stuff</h2>
            <p>
              asdf asdf asdfasdfas asdfasdf sdf asdfasdf asdfasdfasdfasdfasdfasd
              asdf asf asdf asdfasdfasdf asdf asd fasdfasfasdfasdf
            </p>
          </div>
        </section>
      </div>
    </div>
    <button
      x-cloak
      @click="tocOpen = true; allowTocClose = false; setTimeout(()=> {allowTocClose = true}, 10);"
      :class="{'hidden': tocOpen}"
      class="md:hidden sticky bottom-0 left-full -translate-x-4 -translate-y-4 btn-sm btn-outline rounded-2xl z-10"
    >
      Table of Contents
    </button>
  </div>
{% endblock content %}
