<section id="comments-section">
  <div
    class="flex max-sm:flex-col gap-4 mb-2 my-16 text-5xl font-bold not-prose pb-2 border-b border-grayscale-900 dark:border-white"
  >
    {{ render_partial('blog/partials/like_button.html', request=request, blog_post=blog_post, liked=liked) }}
    <h2 id="comments" x-intersect="highlightTocElement('comments')">
      Comments ({{ blog_post.comments|length }})
    </h2>
  </div>

  {% if blog_post.comments %}
    <div class="mt-6 text-lg flex flex-col gap-12 mb-24">
      {% for comment in blog_post.comments %}
        {{ render_partial('blog/partials/comment.html', request=request, comment=comment) }}
      {% endfor %}
    </div>
  {% endif %}

  {{ render_partial('blog/partials/comment_form.html', request=request, blog_post=blog_post, comment_form=comment_form, comment_preview=comment_preview, message=message, current_user=current_user) }}
</section>
