<section id="comments-section" class="htmx-fade-out-300ms htmx-fade-in-500ms">
  <div
    class="flex flex-col flex-wrap max-xs:items-start gap-4 mb-2 my-16 not-prose pb-2 border-b border-grayscale-900 dark:border-white"
  >
    <span class="flex items-center gap-3">
      {{ render_partial('blog/partials/like_button.html', request=request, blog_post=blog_post, liked=liked) }}
      <span class="text-nowrap text-3xl">
        <span>&middot;</span>
        <button
          class="px-3 py-1 border-2 border-grayscale-300 dark:border-grayscale-100 rounded-full hover:bg-grayscale-100 active:bg-grayscale-200 dark:hover:bg-grayscale-700 dark:active:bg-grayscale-600 transition duration-300"
          title="Copy blog article link to clipboard"
          @click="copyTextToClipboard('{{ request.url }}', 'Blog article link copied!')"
        >
          {{ render_partial('shared/partials/icons/link-simple.html', class="h-7 w-7 inline-block ") }}
          share
        </button>
      </span>
    </span>

    <h2
      id="comments"
      class="text-nowrap text-5xl font-bold"
      x-intersect="highlightTocElement('comments')"
    >
      Comments ({{ blog_post.comments|length }})
    </h2>
  </div>

  {% if blog_post.comments %}
    <div class="mt-6 text-lg flex flex-col gap-12 mb-24">
      {% for comment in blog_post.comments %}
        {{ render_partial('blog/partials/comment.html', request=request, comment=comment, current_user=current_user) }}
      {% endfor %}
    </div>
  {% endif %}

  {{ render_partial('blog/partials/comment_form.html', request=request, blog_post=blog_post, comment_form=comment_form, comment_preview=comment_preview, message=message, current_user=current_user) }}
</section>
{{ render_partial('shared/partials/flash_messages.html', request=request) }}
