{% if not comment_form_id %}
  {% set comment_form_id = "comment-form" %}
{% endif %}
{% set comment_form_id_css = "#" + comment_form_id %}
<div id="{{ comment_form_id }}">
  <div class="not-prose">
    {% if blog_post.comments %}
      <h3 class="text-4xl font-bold mb-8">Write a comment</h3>
    {% endif %}
    <p class="mb-12 text-xl">
      You can style your comment using markdown.
      <a
        href="https://www.markdownguide.org/cheat-sheet/"
        target="_blank"
        rel="noopener noreferrer"
        class="link link-underlined"
        >See this markdown cheat sheet for ideas</a
      >.
      {% if not current_user.is_authenticated %}
        Comment as a guest with the below form, or
        <button class="link link-underlined" @click="loginModalOpen = true">
          log in
        </button>
        to comment as yourself. Optionally, provide your email to be notified
        when someone replies to your comment.
      {% endif %}
    </p>
    <form
      class="text-lg"
      hx-post="{{ url_for('html:comment_blog_post', bp_id=blog_post.id) }}"
      hx-target="#comments-section"
      hx-target-error="#comments-section"
      hx-swap="outerHTML"
    >
      {{ render_partial('shared/partials/flash_message.html', message=message) }}
      {% if not current_user.is_authenticated %}
        {{ render_partial('shared/partials/forms/hidden_field.html', field=comment_form.check_me) }}
      {% endif %}
      <div class="flex flex-col gap-6 mb-8">
        {% if current_user.is_authenticated %}
          <p class="text-2xl font-semibold">
            Submit a comment as
            <span class="text-offset-700 dark:text-offset-400 font-bold"
              >{{ current_user.username }}</span
            >:
          </p>
        {% else %}
          <div class="flex max-md:flex-col gap-6">
            {{ render_partial('shared/partials/forms/field.html', class="flex-1", field=comment_form.name, extra_fields={"hx-post": url_for('html:comment_post_preview', bp_id=blog_post.id), "hx-trigger": "keyup changed delay:1000ms", "hx-target": comment_form_id_css, "hx-swap": "outerHTML", "hx-target-error": comment_form_id_css}) }}
            {{ render_partial('shared/partials/forms/toggle_field.html', field=comment_form.not_robot, extra_fields={"hx-post": url_for('html:comment_post_preview', bp_id=blog_post.id), "hx-trigger": "click delay:1000ms", "hx-target": comment_form_id_css, "hx-swap": "outerHTML", "hx-target-error": comment_form_id_css}) }}
          </div>
          {{ render_partial('shared/partials/forms/field.html', field=comment_form.email) }}
        {% endif %}
        {{ render_partial('shared/partials/forms/field.html', field=comment_form.content, extra_fields={"rows": "5", "hx-post": url_for('html:comment_post_preview', bp_id=blog_post.id), "hx-trigger": "keyup changed delay:1000ms", "hx-target": comment_form_id_css, "hx-swap": "outerHTML", "hx-target-error": comment_form_id_css}) }}
      </div>
      {{ render_partial('shared/partials/forms/submit_button.html', text="Submit", extra_fields={"@click": "smoothScroll = false; setTimeout(() => smoothScroll = true, 500)"}) }}
    </form>
  </div>
  <div id="comment-preview" class="mt-12 text-lg">
    {% if comment_preview %}
      {{ render_partial('blog/partials/comment.html', request=request, comment=comment_preview) }}
    {% endif %}
  </div>
</div>
