<section id="comments-section">
  <div class="not-prose">
    <div class="flex gap-4 mb-2 my-16 text-5xl font-bold">
      {{ render_partial('blog/partials/like_button.html', request=request, blog_post=blog_post, liked=liked) }}
      <h2 id="comments" x-intersect="highlightTocElement('comments')">
        Comments ({{ blog_post.comments|length }})
      </h2>
    </div>
    <hr />
    <form
      class="not-prose mt-12 text-lg"
      id="main-comment-form"
      hx-post="{{ url_for('html:comment_blog_post', bp_id=blog_post.id) }}"
      hx-target="#comments-section"
      hx-target-error="#comments-section"
      hx-swap="outerHTML"
    >
      {{ render_partial('shared/partials/flash_message.html', message=message) }}
      {{ render_partial('shared/partials/forms/hidden_field.html', field=comment_form.check_me) }}
      <div class="flex flex-col gap-6 mb-8">
        <div class="flex max-md:flex-col gap-6">
          {{ render_partial('shared/partials/forms/field.html', class="flex-1", field=comment_form.name) }}
          {{ render_partial('shared/partials/forms/toggle_field.html', field=comment_form.not_robot) }}
        </div>
        {{ render_partial('shared/partials/forms/field.html', field=comment_form.email) }}
        {{ render_partial('shared/partials/forms/field.html', field=comment_form.content, extra_fields={"rows": "5", "hx-post": url_for('html:comment_post_preview', bp_id=blog_post.id), "hx-trigger": "keyup changed delay:1000ms", "hx-target": "#comment-preview", "hx-swap": "innerHTML"}) }}
      </div>
      {{ render_partial('shared/partials/forms/submit_button.html', text="Submit", extra_fields={"@click": "smoothScroll = false; setTimeout(() => smoothScroll = true, 500)"}) }}
    </form>
  </div>
  <div id="comment-preview">
    {{ render_partial('blog/partials/comment_preview.html', comment_preview=comment_preview) }}
  </div>
  {% if blog_post.comments %}
    <h2 id="comment-preview" class="not-prose text-3xl font-bold mt-12">
      Comments
    </h2>
    <div class="mt-6 text-lg">
      {% for comment in blog_post.comments %}
        {{ render_partial('blog/partials/comment.html', comment=comment) }}
      {% endfor %}
    </div>
  {% endif %}
</section>
