{% if comment %}
  <article id="comment-{{ comment.id }}" class="relative">
    <div
      class="flex gap-2 bg-grayscale-100 dark:bg-grayscale-800 p-8 rounded-lg"
    >
      <div class="flex flex-col gap-2 block w-full">
        <div class="not-prose flex flex-row gap-2 items-center">
          <div class="max-sm:hidden">
            <div
              class="w-12 h-12 rounded-lg overflow-hidden flex items-center justify-center"
            >
              {% if comment.user and comment.user.avatar_location %}
                <img
                  {% if comment.user.avatar_location.startswith('/') %}
                    src="{{ url_for('html:static', path=comment.user.avatar_location) }}"
                  {% else %}
                    src="{{ comment.user.avatar_location }}"
                  {% endif %}
                  alt="{{ comment.user.full_name or comment.user.username }}'s profile picture"
                  class="w-full h-full object-cover"
                />
              {% elif comment_user %}
                <img
                  {% if comment_user.avatar_location.startswith('/') %}
                    src="{{ url_for('html:static', path=comment_user.avatar_location) }}"
                  {% else %}
                    src="{{ comment_user.avatar_location }}"
                  {% endif %}
                  alt="{{ comment_user.full_name or comment_user.username }}'s profile picture"
                  class="w-full h-full object-cover"
                />
              {% else %}
                {{ render_partial('shared/partials/icons/user-thin.html') }}
              {% endif %}
            </div>
          </div>
          <h3 class="text-xl font-bold">
            {% if comment.user %}
              {{ comment.user.full_name or comment.user.username }}
            {% else %}
              {{ comment.name }}
            {% endif %}
          </h3>
          <p class="text-lg text-grayscale-600 dark:text-grayscale-400">
            {{ comment.created_timestamp.strftime('%B %d, %Y') }}
          </p>
        </div>
        <div class="">{{ comment.html_content | safe }}</div>
        {% if message %}{{ render_partial('shared/partials/flash_message.html', message=message) }}{% endif %}
      </div>
    </div>
    {% if current_user %}
      <div class="absolute top-2 right-2">
        <div class="flex gap-3">
          <!-- Reply -->
          <button type="button" class="group" data-tippy-theme="light-border">
            {{ render_partial('shared/partials/icons/chats.html', title="Reply to comment", class="h-7 w-7 stroke-grayscale-500 dark:stroke-grayscale-300  fill-grayscale-500 dark:fill-grayscale-300 group-hover:fill-primary-600 group-hover:stroke-primary-600  dark:group-hover:fill-primary-300 dark:group-hover:stroke-primary-300 transition-all duration-300") }}
          </button>
          {% if current_user.is_admin or comment.guest_id == current_user.guest_id or comment.user_id == current_user.id %}
            <!-- Edit -->
            <button type="button" class="group" data-tippy-theme="light-border">
              {{ render_partial('shared/partials/icons/note-pencil.html', title="Edit comment", class="h-7 w-7 stroke-grayscale-500 dark:stroke-grayscale-300  fill-grayscale-500 dark:fill-grayscale-300 group-hover:fill-primary-600 group-hover:stroke-primary-600  dark:group-hover:fill-primary-300 dark:group-hover:stroke-primary-300 transition-all duration-300") }}
            </button>
            <!-- Delete -->
            <button
              id="delete-comment-btn-{{ comment.id }}"
              type="button"
              class="group"
              data-tippy-theme="light-border"
              hx-delete="{{ url_for('html:delete_comment', comment_id=comment.id) }}"
              hx-target="#comment-{{ comment.id }}"
              hx-target-error="#comment-{{ comment.id }}"
              hx-swap="outerHTML"
              hx-confirm="Delete the comment?"
            >
              {{ render_partial('shared/partials/icons/trash.html', title="Delete comment", class="h-7 w-7 stroke-grayscale-500 dark:stroke-grayscale-300  fill-grayscale-500 dark:fill-grayscale-300 group-hover:fill-primary-600 group-hover:stroke-primary-600  dark:group-hover:fill-primary-300 dark:group-hover:stroke-primary-300 transition-all duration-300") }}
            </button>
            <script>
              addConfirmEventListener("delete-comment-btn-{{ comment.id }}")
            </script>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </article>
{% endif %}
