<form
  method="POST"
  {% if form.is_new.data %}
    action="{{ url_for('html:create_bp_post' ) }}"
  {% else %}
    action="{{ url_for('html:edit_bp_post', bp_id=request.path_params['bp_id'] ) }}"
  {% endif %}
  class="@container"
  onsubmit="setFormSubmitting()"
  hx-target-error="preview"
>
  {{ render_partial('shared/partials/forms/top_error.html', message=message) }}
  <div class="flex flex-col gap-6 mb-8">
    {{ render_partial('shared/partials/forms/hidden_field.html', field=form.is_new) }}
    {{ render_partial('shared/partials/forms/field.html', field=form.title, class="", extra_fields={"@input.once": "isDirty = true", "hx-post": url_for('html:edit_bp_live_update'), "hx-trigger": "keyup changed delay:1000ms", "hx-target": "#preview", "hx-swap": "innerHTML"}) }}
    <div
      class="w-full  flex justify-between items-center gap-8 flex-col @2xl:flex-row"
    >
      {{ render_partial('shared/partials/forms/field.html', field=form.tags, class="grow w-full @2xl:w-fit", extra_fields={"@input.once": "isDirty = true", "hx-post": url_for('html:edit_bp_live_update'), "hx-trigger": "keyup changed delay:1000ms", "hx-target": "#preview", "hx-swap": "innerHTML"}) }}
      <div
        class="flex items-end flex-row @2xl:flex-col gap-12 @2xl:gap-2 w-full @2xl:w-fit"
      >
        {{ render_partial('shared/partials/forms/toggle_field.html', field=form.can_comment, click_extras="; isDirty = true") }}
        {{ render_partial('shared/partials/forms/toggle_field.html', field=form.is_published, click_extras="; isDirty = true") }}
      </div>
    </div>
    {{ render_partial('shared/partials/forms/field.html', field=form.description, extra_fields={"@input.once": "isDirty = true"}) }}
    {{
      render_partial(
      'shared/partials/forms/field.html',
      field=form.content,
      extra_fields={"rows": "8", "hx-post": url_for('html:edit_bp_live_update'), "hx-trigger": "keyup changed delay:1000ms", "hx-target": "#preview", "hx-swap": "innerHTML", "@input.once": "isDirty = true"}
      )
    }}
  </div>
  {% if blog_post and not form.is_new.data %}
    <div class="mb-12">
      <div
        id="thumbnail-image"
        class="flex items-center justify-center mx-auto mb-12"
      >
        {{ render_partial('blog/partials/thumbnail.html', class="max-w-lg max-h-48", request=request, blog_post=blog_post) }}
      </div>
      <div class="">
        {{ render_partial('shared/partials/forms/field.html', field=form.thumbnail_url, class="w-full", extra_fields={"@change":"setThumbnailImage()", "@input.once": "isDirty = true"}) }}
      </div>
    </div>
  {% endif %}

  <div class="flex gap-6 flex-col @lg:flex-row">
    {{ render_partial('shared/partials/forms/submit_button.html', text="Save", class="w-full @2xl:w-fit", extra_fields={"@click": "smoothScroll = false; setTimeout(() => smoothScroll = true, 500)"}) }}
    {% if blog_post and not form.is_new.data %}
      <a
        @click="smoothScroll = false; setTimeout(() => smoothScroll = true, 500)"
        href="{{ url_for('html:read_blog_post', slug=blog_post.slug) }}"
        class="w-full @2xl:w-fit btn-sm btn-outline"
        >View Post</a
      >
    {% endif %}
  </div>
</form>
