{% if blog_post and not is_new %}
  <div id="blog-media" class="mt-32">
    <h2 class="text-xl font-bold mb-12">Blog Post Media</h2>
    <form
      class="@container"
      id="blog-media-form"
      hx-encoding="multipart/form-data"
      hx-post="{{ url_for('html:upload_blog_post_media', bp_id=request.path_params['bp_id'] ) }}"
      hx-target="#blog-media"
      hx-swap="outerHTML"
    >
      {{ render_partial('shared/partials/forms/top_error.html', message=message) }}
      <div class="flex flex-col gap-6 mb-8">
        <div
          x-data="{media_title: ''}"
          class="w-full  flex justify-between items-center gap-8 flex-col @2xl:flex-row"
        >
          <div class="w-full">
            {{ render_partial('shared/partials/forms/field.html', field=form.name, class="flex-1 w-full", extra_fields={"x-model": "media_title"}) }}
            <div class="p-3 hidden @2xl:block"></div>
          </div>
          {# The @input updates the name field (above) from the file name in the input field (below) #}
          {{ render_partial('shared/partials/forms/file_upload_field.html', request=request, field=form.media, class="w-full", hx_form_id="blog-media-form", extra_fields={"@input": "fileInput = $event.target.files[0].name; media_title = fileInput.split('.')[0].replace(/[_-]/g, ' ').charAt(0).toUpperCase() + fileInput.split('.')[0].replace(/[_-]/g, ' ').slice(1);"}) }}
        </div>
      </div>
      {{ render_partial('shared/partials/forms/submit_button.html', text="Upload", class="w-full @2xl:w-min", extra_fields={"@click": "smoothScroll = false; setTimeout(() => smoothScroll = true, 5000)"}) }}
    </form>
    {{ render_partial('blog/partials/list_post_media.html', request=request, blog_post=blog_post) }}
  </div>
{% endif %}
