<span id="like-block" class="block">
  <button
    id="like-button"
    hx-post="{{ url_for('html:like_blog_post', bp_id=blog_post.id) }}"
    hx-target="#like-block"
    hx-swap="outerHTML"
  >
    {% if liked %}
      {{ render_partial('shared/partials/icons/heart-filled.html', class="h-12 w-12 inline-block fill-offset-600 dark:fill-offset-400", title="Like") }}
    {% else %}
      {{ render_partial('shared/partials/icons/heart-bold.html', class="h-12 w-12 inline-block", title="Like") }}
    {% endif %}
  </button>
  ({{ "{:,}".format(blog_post.likes) }})
</span>
