<div
  id="blog-post-list"
  :class="compact ? 'gap-12' : 'gap-36'"
  class="flex flex-col htmx-fade-out-150ms htmx-fade-in-300ms"
>
  {% if paginator %}
    {% for blog_post in paginator.blog_posts %}
      <article class="flex gap-16 items-center">
        <div
          x-cloak
          x-show="compact"
          x-transition:enter.delay.500ms
          class="w-40 max-md:w-32 max-sm:hidden flex-shrink-0"
        >
          <a href="{{ url_for('html:read_blog_post', slug=blog_post.slug) }}">
            {{ render_partial('blog/partials/thumbnail.html', class="w-full", request=request, blog_post=blog_post) }}
          </a>
        </div>
        <div>
          <h2 class="text-4xl font-bold mb-5 link">
            <a
              class="bp-title"
              href="{{ url_for('html:read_blog_post', slug=blog_post.slug) }}"
              >{{ blog_post.title }}</a
            >
          </h2>
          <div
            :class="compact ? '' : 'mb-16'"
            class="flex flex-col gap-2 text-xl max-xs:text-lg max-w-xl"
          >
            <p>
              <span
                {# Convert the python UTC datetime object to the users local timezone #}
                x-data="{utctime: '{{ blog_post.created_timestamp.isoformat().removesuffix('+00:00') }}Z'}"
                x-text="new Date(utctime).toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' })"
              >
                {{ blog_post.created_timestamp.strftime('%B %d, %Y') }}
              </span>
              /
              <span>{{ blog_post.read_mins }} min read</span>
              /
              <span>
                <span class="inline-flex items-center gap-1">
                  <span>{{ "{:,}".format(blog_post.views) }}</span>
                  {{ render_partial('shared/partials/icons/eye.html', class="h-6 w-6 inline-block", title="views") }} </span
                >,&nbsp;
                <span class="inline-flex items-center gap-1">
                  <span>{{ "{:,}".format(blog_post.likes) }}</span>
                  {{ render_partial('shared/partials/icons/heart.html', class="h-5 w-5 inline-block", title="likes") }}</span
                >,&nbsp;
                <span class="inline-flex items-center gap-1">
                  <span>{{ "{:,}".format(blog_post.comments|length) }}</span>
                  {{ render_partial('shared/partials/icons/chat-circle-text.html', class="h-5 w-5 inline-block", title="comments") }}</span
                >
              </span>
            </p>

            <p
              class="max-xs:text-lg"
              x-cloak
              x-show="!compact"
              x-transition.duration.500ms
            >
              Last Updated:
              <span
                {# Convert the python UTC datetime object to the users local timezone #}
                x-data="{utctime: '{{ blog_post.updated_timestamp.isoformat().removesuffix('+00:00') }}Z'}"
                x-text="new Date(utctime).toLocaleDateString(undefined, { year: 'numeric', month: 'long', day: 'numeric' })"
              >
                {{ blog_post.updated_timestamp.strftime('%B %d, %Y') }}
              </span>
            </p>
            <p
              class="flex flex-row gap-2 flex-wrap"
              x-cloak
              x-show="!compact"
              x-transition.duration.500ms
            >
              {% for tag in blog_post.tags %}
                <a
                  href="{{ url_for('html:list_blog_posts').include_query_params(tags=tag.tag) }}#posts-section"
                  class="rounded-full py-1 px-4 bg-primary-300 hover:bg-primary-400 active:bg-primary-500 dark:bg-offset-800 dark:hover:bg-offset-900 dark:active:bg-offset-950 transition duration-300"
                  >{{ tag.tag }}</a
                >
              {% endfor %}
            </p>
          </div>
          <div
            x-cloak
            x-show="!compact"
            x-transition.duration.500ms
            class="@prose blog-prose"
          >
            {{ blog_post.html_description | safe }}
          </div>
          <p
            x-cloak
            x-show="!compact"
            x-transition.duration.500ms
            class="mt-6 link text-xl"
          >
            <a href="{{ url_for('html:read_blog_post', slug=blog_post.slug) }}">
              Read full article...
            </a>
          </p>
        </div>
      </article>
    {% endfor %}
  {% endif %}
  {{ render_partial('blog/partials/paginator.html', request=request, paginator=paginator or None) }}
</div>
