{% if blog_post.media %}
  <div
    id="blog-media"
    class="htmx-fade-out-150ms htmx-fade-in-300ms"
    x-data="{expandMedia: $persist(true)}"
  >
    <div class="flex items-center gap-8">
      <h2 class="mt-12 mb-8 text-2xl">Uploaded Media:</h2>
      {{ render_partial('shared/partials/forms/alpine_toggle.html', label="Expand Media", var="expandMedia") }}
    </div>
    {% for media_item in blog_post.media %}
      <hr x-show="expandMedia" x-transition.duration.500ms />
      <span class="block flex flex-col gap-2 mt-2">
        <span class="flex gap-6">
          <button
            id="delete-image-{{ loop.index }}"
            type="submit"
            class="btn-sm btn-filled-danger"
            hx-delete="{{ url_for('html:delete_blog_post_media', bp_id=blog_post.id, media_id=media_item.id ) }}"
            hx-target="#blog-media"
            hx-swap="outerHTML swap:150ms settle:300ms"
          >
            Delete
          </button>
          <button
            type="button"
            class="btn-sm btn-filled"
            @click="copyElementToClipboard('#media-html-{{ loop.index }}')"
          >
            Copy HTML
          </button>
          <form
            hx-patch="{{ url_for('html:reorder_bp_media', bp_id=blog_post.id, media_id=media_item.id ) }}"
            hx-target="#blog-media"
            hx-target-error="#flash-errors"
            hx-swap="outerHTML swap:150ms settle:300ms"
          >
            <input
              id="media-position-{{ loop.index }}"
              name="position"
              class="flex-shrink w-24 rounded-lg focus-visible:ring-4 focus-visible:ring-primary-300 text-grayscale-700 dark:bg-grayscale-700 dark:text-white dark:placeholder:text-grayscale-400"
              type="number"
              value="{{ media_item.position }}"
              placeholder="Order"
              hx-patch="{{ url_for('html:reorder_bp_media', bp_id=blog_post.id, media_id=media_item.id ) }}"
              hx-target="#blog-media"
              hx-target-error="#flash-errors"
              hx-swap="outerHTML swap:150ms settle:300ms"
            />
          </form>
        </span>
        <p class="text-2xl">
          #{{ loop.index }}.
          <span x-show="expandMedia" x-transition.duration.500ms>⬇</span>
          {{ media_item.name }}
          <span x-show="expandMedia" x-transition.duration.500ms>⬇</span>
        </p>
      </span>
      <hr class="mb-6" />
      {% if media_item.media_type == "image" %}
        <span
          id="media-html-{{ loop.index }}"
          x-show="expandMedia"
          x-transition.duration.500ms
        >
          <picture>
            {% set locations = media_item.locations_to_list() %}
            {% for location in locations[:-1] %}
              <source
                srcset="{{ url_for('html:static', path=location) }}"
                type="image/{{ location.split('.')[-1] }}"
              />
            {% endfor %}
            <img
              src="{{ url_for('html:static', path=locations[-1]) }}"
              alt="{{ media_item.name }}"
              title="{{ media_item.name }}"
            />
          </picture>
        </span>
      {% elif media_item.media_type == "video" %}
        <span
          id="media-html-{{ loop.index }}"
          x-show="expandMedia"
          x-transition.duration.500ms
        >
          <div class="flex justify-center content-center">
            <video
              muted
              autoplay
              loop
              controls
              playsinline
              poster="{{ url_for('html:static', path='media/shared/video-poster.svg') }}"
            >
              {% set locations = media_item.locations_to_list() %}
              {% for location in locations %}
                <source
                  src="{{ url_for('html:static', path=location) }}"
                  type="video/{{ location.split('.')[-1] }}"
                />
              {% endfor %}
              Your browser does not support the video tag.
            </video>
          </div>
        </span>
      {% endif %}
    {% endfor %}
    <div id="flash-errors"></div>
    <script nonce="{{ request.state.nonce }}">
      // Set the width and height of all media elements
      setAllMediaWidthHeight()
    </script>
  </div>
{% endif %}
