<div
  class="mt-8 flex items-center justify-between border-t border-grayscales-200 dark:border-scalescale-600 bg-grayscale-100 dark:bg-grayscale-800 px-4 py-3 sm:px-6"
>
  {% if paginator and paginator.total_results %}
    <div class="flex flex-1 gap-2 justify-between sm:hidden">
      {% if not paginator.is_first_page %}
        <a
          href="#"
          hx-get="{{ url_for('html:list_blog_posts').include_query_params(page=paginator.current_page - 1) }}"
          hx-target="#blog-post-list"
          hx-target-error="#search-form"
          hx-swap="morph swap:500ms"
          hx-push-url="true"
          hx-include="#search-form"
          @click="document.querySelector('#search-form').scrollIntoView({ behavior: 'smooth' })"
          class="cursor-pointer relative inline-flex items-center rounded-md border border-grayscale-300 dark:border-grayscale-600 bg-white dark:bg-grayscale-900 px-4 py-2 text-sm font-medium text-grayscale-700 dark:text-grayscale-200 hover:bg-grayscale-50 dark:hover:bg-grayscale-900"
          >Previous</a
        >
      {% endif %}

      <div>
        <p class="text-sm text-grayscale-700 dark:text-grayscale-200">
          Showing
          <span class="font-medium font-bold">{{ paginator.min_result }}</span>
          to
          <span class="font-medium font-bold">{{ paginator.max_result }}</span>
          of
          <span class="font-medium font-bold"
            >{{ paginator.total_results }}</span
          >
          results
        </p>
      </div>
      {% if not paginator.is_last_page %}
        <a
          href="#"
          hx-get="{{ url_for('html:list_blog_posts').include_query_params(page=paginator.current_page + 1) }}"
          hx-target="#blog-post-list"
          hx-target-error="#search-form"
          hx-swap="morph swap:500ms"
          hx-push-url="true"
          hx-include="#search-form"
          @click="document.querySelector('#search-form').scrollIntoView({ behavior: 'smooth' })"
          class="cursor-pointer relative inline-flex items-center rounded-md border border-grayscale-300 dark:border-grayscale-600 bg-white dark:bg-grayscale-900 px-4 py-2 text-sm font-medium text-grayscale-700 dark:text-grayscale-200 hover:bg-grayscale-50 dark:hover:bg-grayscale-900"
          >Next</a
        >
      {% endif %}
    </div>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-grayscale-700 dark:text-grayscale-200">
          Showing
          <span class="font-medium font-bold">{{ paginator.min_result }}</span>
          to
          <span class="font-medium font-bold">{{ paginator.max_result }}</span>
          of
          <span class="font-medium font-bold"
            >{{ paginator.total_results }}</span
          >
          results
        </p>
      </div>
      <div>
        {% if not paginator.is_only_page %}
          <nav
            class="isolate inline-flex -space-x-px rounded-md shadow-sm"
            aria-label="Pagination"
          >
            {% if paginator.is_first_page %}
              <button
                class="relative inline-flex items-center rounded-l-md px-2 py-2 text-grayscale-400 dark:text-grayscale-400 ring-1 ring-inset ring-grayscale-300 focus:z-20 focus:outline-offset-0"
                disabled
              >
                <span class="sr-only">Previous (disabled)</span>
                <svg
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            {% else %}
              <a
                href="#"
                hx-get="{{ url_for('html:list_blog_posts').include_query_params(page=paginator.current_page - 1) }}"
                hx-target="#blog-post-list"
                hx-target-error="#search-form"
                hx-swap="morph swap:500ms"
                hx-push-url="true"
                hx-include="#search-form"
                @click="document.querySelector('#search-form').scrollIntoView({ behavior: 'smooth' })"
                class="cursor-pointer relative inline-flex items-center rounded-l-md px-2 py-2 text-grayscale-400 dark:text-grayscale-400 ring-1 ring-inset ring-grayscale-300 hover:bg-grayscale-50 dark:hover:bg-grayscale-900 focus:z-20 focus:outline-offset-0"
              >
                <span class="sr-only">Previous</span>
                <svg
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            {% endif %}
            {% set ns = namespace(last_is_dots=False) %}
            {% for page_num in range(1, paginator.total_pages + 1) %}
              {% if paginator.total_pages < 8 or (page_num == 1) or (page_num < 4 and paginator.current_page < 4) or (page_num == paginator.total_pages) or (paginator.total_pages - page_num < 3 and paginator.total_pages - paginator.current_page < 3)or (abs(page_num - paginator.current_page) < 2) %}
                <a
                  href="#"
                  hx-get="{{ url_for('html:list_blog_posts').include_query_params(page=page_num) }}"
                  hx-target="#blog-post-list"
                  hx-target-error="#search-form"
                  hx-swap="morph swap:500ms"
                  hx-push-url="true"
                  hx-include="#search-form"
                  @click="document.querySelector('#search-form').scrollIntoView({ behavior: 'smooth' })"
                  class="
                  cursor-pointer
                  {% if page_num == paginator.current_page %}
                    relative z-10 inline-flex items-center bg-primary-600 px-4
                    py-2 text-sm font-semibold text-white focus:z-20
                    focus-visible:outline focus-visible:outline-2
                    focus-visible:outline-offset-2
                    focus-visible:outline-primary-600
                  {% else %}
                    relative inline-flex items-center px-4 py-2 text-sm
                    font-semibold text-grayscale-900 dark:text-white ring-1
                    ring-inset ring-grayscale-300 hover:bg-grayscale-50
                    dark:hover:bg-grayscale-900 focus:z-20
                    focus:outline-offset-0
                  {% endif %}"
                  >{{ page_num }}</a
                >
                {% set ns.last_is_dots = False %}
              {% else %}
                {% if not ns.last_is_dots %}
                  <span
                    class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-grayscale-700 dark:text-grayscale-200 ring-1 ring-inset ring-grayscale-300 focus:outline-offset-0"
                    >...</span
                  >
                  {% set ns.last_is_dots = True %}
                {% endif %}
              {% endif %}
            {% endfor %}
            {% if paginator.is_last_page %}
              <button
                class="relative inline-flex items-center rounded-l-md px-2 py-2 text-grayscale-400 dark:text-grayscale-400 ring-1 ring-inset ring-grayscale-300 focus:z-20 focus:outline-offset-0"
                disabled
              >
                <span class="sr-only">Next (disable)</span>
                <svg
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            {% else %}
              <a
                href="#"
                hx-get="{{ url_for('html:list_blog_posts').include_query_params(page=paginator.current_page + 1) }}"
                hx-target="#blog-post-list"
                hx-target-error="#search-form"
                hx-swap="morph swap:500ms"
                hx-push-url="true"
                hx-include="#search-form"
                @click="document.querySelector('#search-form').scrollIntoView({ behavior: 'smooth' })"
                class="cursor-pointer relative inline-flex items-center rounded-r-md px-2 py-2 text-grayscale-400 dark:text-grayscale-400 ring-1 ring-inset ring-grayscale-300 hover:bg-grayscale-50 dark:hover:bg-grayscale-900 focus:z-20 focus:outline-offset-0"
              >
                <span class="sr-only">Next</span>
                <svg
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            {% endif %}
          </nav>
        {% endif %}
      </div>
    </div>
  {% else %}
    <p class="font-medium">No results for query</p>
  {% endif %}
</div>
