<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ url_for('html:static', path='media/favicon/apple-touch-icon.png') }}?{{ static_version }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ url_for('html:static', path='media/favicon/favicon-32x32.png') }}?{{ static_version }}"
  href="{{ url_for('html:static', path='media/favicon/favicon-32x32.png') }}?{{ static_version }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ url_for('html:static', path='media/favicon/favicon-16x16.png') }}?{{ static_version }}"
  href="{{ url_for('html:static', path='') }}?{{ static_version }}"
/>
<link
  rel="manifest"
  href="{{ url_for('html:static', path='media/favicon/site.webmanifest') }}?{{ static_version }}"
/>
<link
  rel="mask-icon"
  href="{{ url_for('html:static', path='media/favicon/safari-pinned-tab.svg') }}?{{ static_version }}"
  color="#065f46"
/>
<meta name="msapplication-TileColor" content="#603cba" />
<meta name="theme-color" content="#ffffff" />
