<link rel="preconnect" href="https://fonts.bunny.net" />
<link
  href="https://fonts.bunny.net/css?family=roboto:400,500,700"
  rel="stylesheet"
/>
<!-- External CSS libraries (loaded from our code) -->
<link
  rel="stylesheet"
  href="{{ url_for('html:static', path='css/libraries/bundled.css') }}?{{ libraries_static_version }}"
/>
<!-- Custom Tailwind CSS -->
<link
  rel="stylesheet"
  href="{{ url_for('html:static', path='css/tailwind-styles.css') }}?{{ static_version }}"
/>

<!-- External JavaScript Libraries (loaded from our code) -->
<script
  nonce="{{ request.state.nonce }}"
  defer
  src="{{ url_for('html:static', path='js/libraries/bundled-deferred.js') }}?{{ libraries_static_version }}"
></script>
<script
  nonce="{{ request.state.nonce }}"
  src="{{ url_for('html:static', path='js/libraries/bundled-non-deferred.js') }}?{{ libraries_static_version }}"
></script>

<!-- Custom JavaScript -->
<script
  nonce="{{ request.state.nonce }}"
  src="{{ url_for('html:static', path='js/custom/script.js') }}?{{ static_version }}"
></script>
<script nonce="{{ request.state.nonce }}">
  // Handle initial dark mode state here before body loads
  // to avoid flash of unstyled content. Afterwards, handled by Alpine.js.
  if (
    localStorage._x_darkMode === "true" ||
    (!("_x_darkMode" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark")
  } else {
    document.documentElement.classList.remove("dark")
  }

  // HTMX Config
  // These settings remove the smooth scrolling and the delay on the settle
  // when hx-boost is used. It removes the annoying scroll to the top of the
  // page when a new page is loaded.
  htmx.config.defaultSettleDelay = 0
  htmx.config.scrollBehavior = "auto"
  htmx.config.useTemplateFragments = true
</script>

{% include 'shared/partials/favicon.html' %}

{% if page_title %}
  {% set page_title = page_title + " | Teddy Williams" %}
{% else %}
  {% set page_title = "Teddy Williams" %}
{% endif %}
<title>{{ page_title }}</title>
