{%
  set nav_items = [
  {
  'name': 'About',
  'url': url_for('html:landing'),
  },
  {
  'name': 'Projects',
  'url': url_for('html:projects'),
  },
  {
  'name': 'Experience',
  'url': url_for('html:experience'),
  },
  {
  'name': 'blog',
  'url': url_for('html:list_blog_posts'),
  },
  ]
%}
{%
  set user_nav_items = [
  {"name": "Your Profile", "url": "#"},
  {"name": "Settings", "url": "#"},
  {"name": "Sign out", "url": "#"},
  ]
%}
{% if not active_nav_item %}
  {% set active_nav_item = 0 %}
{% endif %}
<header
  x-data="{navOpen: false, selectedNavItem: {{ active_nav_item }}, showNav: true, lastScroll: 9999999999, navAtTop: window.pageYOffset < 30}"
  class="pointer-events-none z-40 w-full relative"
  @scroll.window="let currentScroll = window.pageYOffset;
                  if (Math.abs(currentScroll - lastScroll) < 2) return
                  showNav = (currentScroll  < lastScroll);
                  navAtTop = currentScroll < 30;
                  lastScroll = currentScroll;"
  @resize.window="
    let width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
    if (width > 768) {
      navOpen = false
    }
  "
>
  <!-- Top navbar -->
  <div
    :class="{'top-0': showNav, '-top-24': !showNav}"
    class="px-6 py-6 w-full fixed transition-all duration-300"
    x-show="!navOpen"
    x-transition:enter.opacity.duration.200ms
    x-transition:leave.opacity.duration.500ms
  >
    <div
      class="mx-auto max-w-6xl relative flex justify-between items-center gap-4"
    >
      <!-- Home link image (left) -->
      <div class="flex flex-1 g" title="Code With Teddy">
        <a
          aria-label="Home"
          class="pointer-events-auto flex items-center justify-center gap-2 text-lg font-semibold"
          href="{{ url_for('html:landing') }}"
        >
          <div
            :class="navAtTop ? '' : 'bg-white/90 shadow-lg shadow-grayscale-800/5 ring-1 ring-grayscale-900/5 dark:bg-grayscale-800/90 dark:ring-white/10'"
            class="h-12 w-12 rounded-full hover:bg-primary-white/90 dark:hover:bg-grayscale-700 p-1 hover:shadow-lg hover:shadow-grayscale-800/5 hover:ring-1 hover:ring-grayscale-900/5 backdrop-blur hvoer:dark:bg-grayscale-800/90 hover:dark:ring-white/10 flex items-center justify-center transition-all duration-300"
          >
            <img
              alt=""
              fetchpriority="high"
              width="512"
              height="512"
              decoding="async"
              data-nimg="1"
              class="rounded-full bg-offset-300 object-cover dark:bg-offset-300 h-10 w-10 transition duration-500"
              sizes="2.25rem"
              src="{{ url_for('html:static', path='/images/shared/avatar.png') }}"
            />
          </div>
        </a>
      </div>

      <!-- Nav links -- large screen (center) -->
      <nav
        aria-label="Main Navigation"
        class="pointer-events-auto max-md:hidden flex flex-1"
      >
        <ul
          x-data="{hover: false}"
          @mouseover="hover = true"
          @mouseover.away="hover = false"
          :class="navAtTop ? '' : 'bg-grayscale-50/90 dark:bg-grayscale-800/90 shadow-lg shadow-grayscale-800/5 ring-1 ring-grayscale-900/5 dark:ring-white/10'"
          class="flex rounded-full  px-3 text-md font-medium text-grayscale-800  backdrop-blur  dark:text-grayscale-200 hover:bg-grayscale-50/90 hover:dark:bg-grayscale-800/90 hover:shadow-lg hover:shadow-grayscale-800/5 hover:ring-1 hover:ring-grayscale-900/5 hvoer:dark:ring-white/10 transition duration-200"
        >
          {% for nav_item in nav_items %}
            <li>
              <a
                href="{{ nav_item.get('url') }}"
                x-data="{
                  id: {{ loop.index }},
                  get selected() {
                    return this.selectedNavItem === this.id
                  },
                  set selected(value) {
                    this.selectedNavItem = this.id
                  },
                }"
                @click="selected = !selected; smoothScroll = false; setTimeout(() => smoothScroll = true, 50)"
                :class="selected ? 'text-primary-600 dark:text-primary-400' : ''"
                class="relative block px-3 py-2 hover:text-primary-600 dark:hover:text-primary-400"
                >{{ nav_item.get("name") }}
                <span
                  :class="selected & (!navAtTop | hover) ? 'from-primary-600/0 via-primary-600/40 to-primary-600/0 dark:from-primary-400/0 dark:via-primary-400/40 dark:to-primary-400/0' : ''"
                  class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r"
                ></span
              ></a>
            </li>
          {% endfor %}
        </ul>
      </nav>

      <!-- Mobile nav menu button (center-right) -->
      <div class="max-md:flex max-md:flex-1 max-md:justify-end hidden">
        <div class="pointer-events-auto">
          <button
            @click="navOpen = !navOpen"
            :class="navAtTop ? '' : 'bg-white/90 shadow-lg shadow-grayscale-800/5 ring-1 ring-grayscale-900/5 dark:bg-grayscale-800/90 dark:ring-white/10'"
            class="group flex items-center rounded-full  px-4 py-2 text-md font-medium text-grayscale-800  backdrop-blur  dark:text-grayscale-200 hover:ring-1 ring-grayscale-900/5  dark:hover:ring-white/20 hover:bg-white/90 hover:shadow-lg hover:shadow-grayscale-800/5 hover:ring-1 hover:ring-grayscale-900/5 hover:dark:bg-grayscale-800/90 duration-300 transition-all"
            type="button"
            aria-controls="mobile-menu"
            :aria-expanded="navOpen"
          >
            Menu{{ render_partial('shared/partials/icons/caret-down.html', class="ml-3 h-3 w-3 fill-grayscale-500 group-hover:fill-grayscale-700 dark:group-hover:fill-grayscale-400") }}
          </button>
        </div>
      </div>

      <!-- User and dark mode buttons(right)-->
      <div class="flex justify-end items-center md:flex-1">
        {% if current_user %}
          <!-- Users button -->
          <div class="flex items-center">
            <div
              x-data="{menuOpen: false}"
              @click.away="menuOpen = false"
              class="pointer-events-auto mr-2"
              @scroll.window="menuOpen = false"
            >
              <button
                type="button"
                @click="menuOpen = !menuOpen"
                aria-label="User details"
                :class="navAtTop ? '' : 'bg-white/90 shadow-lg shadow-grayscale-800/5 ring-1 ring-grayscale-900/5 dark:bg-grayscale-800/90 dark:ring-white/10'"
                class="group rounded-full  px-1.5 py-1.5 backdrop-blur dark:hover:ring-white/20 hover:bg-white/90 hover:shadow-lg hover:shadow-grayscale-800/5 hover:ring-1 hover:ring-grayscale-900/5 hover:dark:bg-grayscale-800/90 transition-all duration-300"
                title="User details"
              >
                {{ render_partial('shared/partials/icons/user-circle.html', class="h-7 w-7 fill-grayscale-500 dark:fill-grayscale-300 group-hover:fill-primary-600  dark:group-hover:fill-primary-400 transition-all duration-300") }}
              </button>
              {#
            <!-- Dropdown logged in -->
            <div
              class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white dark:bg-grayscale-700 py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="user-menu-button"
              tabindex="-1"
            >
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 dark:text-white hover:bg-grayscale-100 dark:hover:bg-grayscale-600"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-0"
                >Your Profile</a
              >
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 dark:text-white hover:bg-grayscale-100 dark:hover:bg-grayscale-600"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-1"
                >Settings</a
              >
              <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 dark:text-white hover:bg-grayscale-100 dark:hover:bg-grayscale-600"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-2"
                >Sign out</a
              >
            </div>
            #}
              <!-- Dropdown not logged in -->
              <div
                x-show="menuOpen && showNav"
                class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white dark:bg-grayscale-700 py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="user-menu-button"
                tabindex="-1"
              >
                <span
                  class="block px-4 py-2 text-sm text-gray-700 dark:text-white hover:bg-grayscale-100 dark:hover:bg-grayscale-600 flex justify-between items-center gap-1"
                >
                  <a
                    class="flex-grow flex items-center gap-2"
                    href="#"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-0"
                  >
                    <span
                      >{{ render_partial('shared/partials/icons/sign-in.html', class="h-5 w-5 fill-grayscale-500 dark:fill-grayscale-300 group-hover:fill-primary-600  dark:group-hover:fill-primary-400 transition-all duration-300") }}</span
                    >
                    <span>Log in</span>
                  </a>
                  <button
                    id="tippy"
                    type="button"
                    class="tippy group"
                    data-tippy-theme="light-border"
                    data-tippy-delay="[100, 200]"
                    data-tippy-content="<strong>Why login?</strong><br>Login is for blog-post commenting and interacting with certain projects. If you aren't using those features, don't worry about it. 🙂"
                  >
                    {{ render_partial('shared/partials/icons/question.html', class="h-7 w-7 stroke-grayscale-500 dark:stroke-grayscale-300  fill-grayscale-500 dark:fill-grayscale-300 group-hover:fill-primary-600 group-hover:stroke-primary-600  dark:group-hover:fill-primary-300 dark:group-hover:stroke-primary-300 transition-all duration-300") }}
                  </button>
                </span>
              </div>
            </div>
          </div>
        {% endif %}

        <!-- Dark mode button -->
        <div class="flex justify-end md:flex">
          <div class="pointer-events-auto">
            <button
              type="button"
              aria-label="Switch to dark theme"
              @click="darkMode = !darkMode"
              :class="navAtTop ? '' : 'bg-white/90 shadow-lg shadow-grayscale-800/5 ring-1 ring-grayscale-900/5 dark:bg-grayscale-800/90 dark:ring-white/10'"
              class="group rounded-full  px-2 py-2 backdrop-blur dark:hover:ring-white/20 hover:bg-white/90 hover:shadow-lg hover:shadow-grayscale-800/5 hover:ring-1 hover:ring-grayscale-900/5 hover:dark:bg-grayscale-800/90 transition-all duration-300"
              :title="darkMode ? 'Switch to light theme' : 'Switch to dark theme'"
            >
              {{ render_partial('shared/partials/icons/sun.html', class="h-6 w-6 fill-grayscale-500 dark:fill-grayscale-300 group-hover:fill-primary-600  dark:group-hover:fill-primary-400 transition-all duration-300", xshow="!darkMode") }}
              {{ render_partial('shared/partials/icons/moon-stars.html', class="h-6 w-6 fill-grayscale-500 dark:fill-grayscale-300 group-hover:fill-primary-600 dark:group-hover:fill-primary-400 transition-all duration-300", xshow="darkMode") }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile nav links (modal) -->
  <nav
    aria-label="Main navigation"
    x-show="navOpen"
    x-transition:enter.opacity.duration.200ms
    @keydown.escape.window="navOpen = false"
    class="pointer-events-auto top-0 bottom-0 fixed px-6 py-6 w-full hidden max-md:block backdrop-blur transition"
    x-trap.inert="navOpen"
  >
    <div class="relative">
      <button @click="navOpen = false" class="absolute top-5 right-5 z-50">
        {{ render_partial('shared/partials/icons/x.html', class="w-6 h-6 fill-grayscale-800 dark:fill-gray-100 hover:fill-primary-700 dark:hover:fill-primary-400") }}
      </button>
      <ul
        class="flex flex-col rounded-3xl px-6 py-6 bg-grayscale-50/90 text-md font-medium text-grayscale-800 shadow-2xl shadow-grayscale-800/5 ring-1 ring-grayscale-900/5 dark:bg-grayscale-800/90 dark:text-grayscale-200 dark:ring-white/10"
        @click.away="navOpen = false"
      >
        <li>
          <span
            class="cursor-default relative block px-3 py-3 text-grayscale-600 dark:text-grayscale-300 text-sm mb-5"
            >Navigation</span
          >
        </li>
        {% for nav_item in nav_items %}
          <li>
            <a
              href="{{ nav_item.get('url') }}"
              x-data="{
                id: {{ loop.index }},
                get selected() {
                  return this.selectedNavItem === this.id
                },
                set selected(value) {
                  this.selectedNavItem = value ? this.id : null
                },
              }"
              @click="selected = !selected"
              class="relative block px-3 py-3 transition hover:text-primary-700 dark:hover:text-primary-00"
              >{{ nav_item.get("name") }}</a
            >
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
