{% if previous_page or next_page %}
  <nav
    aria-label="previous and next page links"
    class="section-container flex items-center justify-between mb-12"
  >
    {% if previous_page %}
      <a
        class="btn btn-outline max-xs:text-sm max-xs:py-2 max-xs:px-4 focus-visible:ring-2 focus-visible:ring-primary-600"
        href="{{ previous_page[1] }}"
        @click="smoothScroll = false; setTimeout(() => smoothScroll = true, 100)"
        >{{ render_partial("/shared/partials/icons/arrow-fat-left.html", class="inline-block h-5 w-5 max-xs:h-4 max-xs:w-4", aria_hidden="true") }}
        <span>{{ previous_page[0] }}</span></a
      >
    {% else %}
      <div></div>
    {% endif %}
    {% if next_page %}
      <a
        class="btn btn-outline max-xs:text-sm max-xs:py-2 max-xs:px-4"
        href="{{ next_page[1] }}"
        @click="smoothScroll = false; setTimeout(() => smoothScroll = true, 100)"
      >
        <span>{{ next_page[0] }}</span>
        {{ render_partial("/shared/partials/icons/arrow-fat-right.html", class="inline-block h-5 w-5  max-xs:h-4 max-xs:w-4", aria_hidden="true") }}</a
      >
    {% else %}
      <div></div>
    {% endif %}
  </nav>
{% endif %}
