{% extends "shared/base.html" %}
{% set active_nav_item = 2 %}
{% set page_title = "Projects" %}

{% block content %}
  <section>
    <div class="section-container py-52">
      <h1 class="text-6xl font-bold mb-16">Tech Playground</h1>
      <p class="text-2xl max-w-3xl">
        I'm excited to share a glimpse of my creative journey through some of
        these fun side projects I've crafted over the years. Each project has
        been a valuable learning experience, contributing to my growth as a
        developer. Feel free to click on each project to explore its details and
        the story behind its creation. Enjoy the ride!
      </p>
    </div>
  </section>

  <section>
    <div
      class="mx-auto max-w-[85rem] px-8 max-md:px-2 grid grid-cols-3 max-lg:grid-cols-2 max-md:grid-cols-1 gap-10 max-md:gap-6 mb-36"
    >
      {{ render_partial('main/projects/sections/website.html', request=request) }}
      {{ render_partial('main/projects/sections/twisted_towers.html', request=request) }}
    </div>
  </section>

  {{ render_partial('shared/partials/previous_next_nav.html', previous_page=("About", url_for("html:about")), next_page=("Experience", url_for("html:experience"))) }}
{% endblock content %}
