@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .transition-bg-color {
    transition-property: background-color, opacity;
  }

  .transition-shadowform {
    transition-property: transform, box-shadow;
  }

  .transition-shadow-bg-transform {
    transition-property: background-color, opacity, transform, box-shadow;
  }
}

@layer components {
  .section-container {
    @apply max-w-6xl mx-auto px-8 max-xs:px-4;
  }

  /* Buttons */
  .btn-base {
    @apply inline-block flex gap-4 items-center justify-center;
  }

  .btn {
    @apply btn-base px-8 py-4 text-lg rounded-xl;
  }

  .btn-sm {
    @apply btn-base px-4 py-2 text-base rounded-md;
  }

  .btn-filled {
    @apply text-white bg-primary-700 dark:bg-primary-700 hover:bg-primary-800 active:bg-primary-900 disabled:text-primary-100 disabled:bg-primary-800 disabled:opacity-50 transition-bg-color duration-300;
  }

  .btn-outline {
    @apply text-primary-700 dark:text-primary-50 bg-white border dark:bg-grayscale-800 border-primary-700 dark:border-primary-50 hover:bg-primary-50 dark:hover:bg-grayscale-700 active:bg-primary-100 dark:active:bg-grayscale-600 disabled:hover:bg-white dark:disabled:hover:bg-grayscale-800 disabled:opacity-50 transition duration-300;
  }

  /* Links */
  .link {
    @apply text-primary-700 hover:text-primary-500 active:text-primary-400 dark:text-primary-300 dark:hover:text-primary-500  dark:active:text-primary-600 fill-primary-700 hover:fill-primary-500 active:fill-primary-400 dark:fill-primary-300 dark:hover:fill-primary-500  dark:active:fill-primary-600 stroke-primary-700 hover:stroke-primary-500 active:stroke-primary-400 dark:stroke-primary-300 dark:hover:stroke-primary-500  dark:active:stroke-primary-600 transition duration-300;
  }

  .link-underlined {
    @apply link border-b border-primary-700 hover:border-primary-500 dark:border-primary-300 dark:hover:border-primary-500 active:border-primary-400 dark:active:border-primary-600;
  }

  .tippy-box {
    @apply p-1 bg-white text-grayscale-800 ring-1 ring-inset ring-grayscale-600 dark:bg-grayscale-800 dark:text-white;
  }
}

@layer utilities {
  .wiggle-once {
    display: inline-block;
    animation: wiggle 0.3s linear;
  }

  @keyframes wiggle {
    33% {
      transform: rotate(10deg);
    }
    66% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

[x-cloak] {
  display: none !important;
}

/* Define outside of components so they are definitely generated */
.flash-info {
  @apply font-semibold bg-teal-50 text-teal-700 dark:bg-teal-950 dark:text-white border border-teal-700 dark:border-teal-200;
}

.flash-success {
  @apply font-semibold bg-green-50 text-green-700 dark:bg-green-950 dark:text-white border border-green-700 dark:border-green-200;
}

.flash-error {
  @apply font-semibold bg-red-50 text-red-700 border dark:bg-red-950 dark:text-white border-red-700 dark:border-red-200;
}

.flash-warning {
  @apply font-semibold bg-orange-50 text-orange-700 dark:bg-orange-950 dark:text-white border border-orange-700 dark:border-orange-200;
}
