@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .transition-bg-color {
    transition-property: background-color, opacity;
  }

  .transition-shadowform {
    transition-property: transform, box-shadow;
  }

  .transition-shadow-bg-transform {
    transition-property: background-color, opacity, transform, box-shadow;
  }
}

@layer components {
  .section-container {
    @apply max-w-6xl mx-auto px-8;
  }

  /* Buttons */
  .btn {
    @apply inline-block px-8 py-4 text-lg flex gap-4 items-center justify-center rounded-xl;
  }

  .btn-filled {
    @apply btn text-white bg-primary-500 dark:bg-primary-700 hover:bg-primary-600 dark:hover:bg-primary-800 active:bg-primary-700 dark:active:bg-primary-900 disabled:bg-primary-200  disabled:text-primary-700 dark:disabled:text-primary-100 dark:disabled:bg-primary-900 disabled:opacity-50 transition-bg-color duration-300;
  }

  .btn-outline {
    @apply btn text-primary-700 dark:text-primary-50 bg-white border dark:bg-grayscale-800 border-primary-700 dark:border-primary-50 hover:bg-primary-50 dark:hover:bg-grayscale-700 active:bg-primary-100 dark:active:bg-grayscale-600 disabled:hover:bg-white dark:disabled:hover:bg-grayscale-800 disabled:opacity-50 transition duration-300;
  }

  /* Links */
  .link {
    @apply text-primary-700 hover:text-primary-500 active:text-primary-400 dark:text-primary-300 dark:hover:text-primary-500  dark:active:text-primary-600 fill-primary-700 hover:fill-primary-500 active:fill-primary-400 dark:fill-primary-300 dark:hover:fill-primary-500  dark:active:fill-primary-600 stroke-primary-700 hover:stroke-primary-500 active:stroke-primary-400 dark:stroke-primary-300 dark:hover:stroke-primary-500  dark:active:stroke-primary-600 transition duration-300;
  }

  .link-underlined {
    @apply link border-b border-primary-700 hover:border-primary-500 dark:border-primary-300 dark:hover:border-primary-500 active:border-primary-400 dark:active:border-primary-600;
  }
}

@layer utilities {
  .wiggle-once {
    display: inline-block;
    animation: wiggle 0.3s linear;
  }

  @keyframes wiggle {
    33% {
      transform: rotate(10deg);
    }
    66% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

[x-cloak] {
  display: none !important;
}

/* Define outside of components so they are definitely generated */
.flash-info {
  @apply bg-teal-50 text-teal-700 border border-teal-700;
}

.flash-success {
  @apply bg-green-50 text-green-700 border border-green-700;
}

.flash-error {
  @apply bg-red-50 text-red-700 border border-red-700 font-semibold;
}

.flash-warning {
  @apply bg-orange-50 text-orange-700 border border-orange-700;
}
