@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Start scrollbar styling */
  * {
    scrollbar-color: #a8a29e #e7e5e4;
  }

  ::-webkit-resizer {
    background-color: transparent;
    background-size: cover;
    background-image: url("/static/media/shared/notches.svg");
  }

  /* This top selector applies the 'dark' color-scheme to the main scrollbar */
  .dark {
    scrollbar-color: #78716c #44403c;
  }
  /* This next selector applies the 'dark' color-scheme to all other scrollbars on the page */
  .dark * {
    scrollbar-color: #78716c #44403c;
  }

  .dark ::-webkit-resizer {
    background-color: transparent;
    background-size: cover;
    background-image: url("/static/media/shared/notches-dark.svg");
  }
  /* End scrollbar styling */

  .transition-bg-color {
    transition-property: background-color, opacity;
  }

  .transition-shadowform {
    transition-property: transform, box-shadow;
  }

  .transition-shadow-bg-transform {
    transition-property: background-color, opacity, transform, box-shadow;
  }
}

@layer components {
  .section-container {
    @apply max-w-6xl mx-auto px-8 max-xs:px-4;
  }

  /* Buttons */
  .btn-base {
    @apply inline-block flex gap-4 items-center justify-center;
  }

  .btn {
    @apply cursor-pointer btn-base px-8 py-4 text-lg rounded-xl;
  }

  .btn-sm {
    @apply cursor-pointer btn-base px-4 py-2 text-base rounded-md;
  }

  .btn-filled {
    @apply text-white bg-primary-700 bg-primary-700 hover:bg-primary-800 active:bg-primary-900 disabled:text-primary-100 disabled:bg-primary-800 disabled:opacity-50 transition-bg-color duration-300;
  }

  .btn-filled-danger {
    @apply text-white bg-pink-700 hover:bg-pink-800 active:bg-pink-900 disabled:text-pink-100 disabled:bg-pink-800 disabled:opacity-50 transition-bg-color duration-300;
  }

  .btn-outline {
    @apply text-primary-700 dark:text-primary-50 bg-white border dark:bg-grayscale-800 border-primary-700 dark:border-primary-50 hover:bg-primary-50 dark:hover:bg-grayscale-700 active:bg-primary-100 dark:active:bg-grayscale-600 disabled:hover:bg-white dark:disabled:hover:bg-grayscale-800  disabled:opacity-50 dark:focus-visible:ring-4 dark:focus-visible:ring-grayscale-300 transition duration-300;
  }

  /* Use on the icon inside the button with 'group' on the button */
  .icon-btn {
    @apply stroke-grayscale-500 dark:stroke-grayscale-300 fill-grayscale-500 dark:fill-grayscale-300 group-hover:fill-primary-600 group-hover:stroke-primary-600  dark:group-hover:fill-primary-300 dark:hover:stroke-primary-300 group-active:stroke-primary-500 group-active:fill-primary-500 dark:group-active:stroke-primary-400 dark:group-active:fill-primary-400 transition duration-300;
  }

  /* Links */
  .link {
    @apply text-primary-700 hover:text-primary-500 active:text-primary-400 dark:text-primary-300 dark:hover:text-primary-500  dark:active:text-primary-600 fill-primary-700 hover:fill-primary-500 active:fill-primary-400 dark:fill-primary-300 dark:hover:fill-primary-500  dark:active:fill-primary-600 stroke-primary-700 hover:stroke-primary-500 active:stroke-primary-400 dark:stroke-primary-300 dark:hover:stroke-primary-500  dark:active:stroke-primary-600 transition duration-300;
  }

  .link-underlined {
    @apply link border-b border-grayscale-300 hover:border-primary-500 dark:border-grayscale-600 dark:hover:border-primary-500 active:border-primary-400 dark:active:border-primary-600;
  }

  .tippy-box {
    @apply p-1 bg-white text-grayscale-800 ring-1 ring-inset ring-grayscale-600 dark:bg-grayscale-800 dark:text-white;
  }
}

@layer utilities {
  .wiggle-once {
    display: inline-block;
    animation: wiggle 0.3s linear;
  }

  @keyframes wiggle {
    33% {
      transform: rotate(10deg);
    }
    66% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

[x-cloak] {
  display: none !important;
}

/* Define outside of components so they are definitely generated */
.flash-info {
  @apply font-semibold bg-teal-50 text-teal-700 dark:bg-teal-950 dark:text-white border border-teal-700 dark:border-teal-200;
}

.flash-success {
  @apply font-semibold bg-green-50 text-green-700 dark:bg-green-950 dark:text-white border border-green-700 dark:border-green-200;
}

.flash-error {
  @apply font-semibold bg-red-50 text-red-700 border dark:bg-red-950 dark:text-white border-red-700 dark:border-red-200;
}

.flash-warning {
  @apply font-semibold bg-orange-50 text-orange-700 dark:bg-orange-950 dark:text-white border border-orange-700 dark:border-orange-200;
}

.screenreader {
  position: absolute !important; /* Outside the DOM flow */
  height: 1px;
  width: 1px; /* Nearly collapsed */
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
  clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}

/* SweetAlert  2 overwrites */
div.swal2-popup {
  @apply dark:bg-grayscale-800 text-grayscale-800 dark:text-white;
}
button.swal2-confirm.swal2-styled {
  @apply border-0 border-transparent   bg-primary-600 dark:bg-primary-800 ring-[3px] ring-transparent focus:ring-primary-500 focus-visible:ring-primary-500 dark:focus:ring-primary-700 dark:focus-visible:ring-primary-700 !important;
}

/* Simple-notify overwrites */
.sn-notify {
  @apply dark:bg-grayscale-800;
}
.sn-notify-title {
  @apply dark:text-white;
}
.sn-notify-text {
  @apply dark:text-white;
}

/* HTMX transitions */
.htmx-fade-out-150ms.htmx-swapping {
  opacity: 0.05;
  transition: opacity 1s ease-out;
}

.htmx-fade-in-300ms.htmx-added {
  opacity: 0.05;
}
.htmx-fade-in-300ms {
  opacity: 1;
  transition: opacity 1s ease-out;
}

/* Blog stuff */
.blog-nav-highlight {
  @apply bg-primary-800 text-white dark:text-white hover:text-white dark:hover:text-white;
}

/* This is a triple-backtick code block anywhere in a blog post */
/* For some reason they were 2xl. Made lg so that we'd need less horizontal scroll */
div.highlight.not-prose {
  @apply text-lg max-xs:text-base;
}
/* This is a triple-backtick code block in a comments section of a blog post */
#comments-section div.highlight.not-prose {
  @apply border-2 border-grayscale-300 dark:border-grayscale-600 bg-white dark:bg-grayscale-900;
}

.blog-prose {
  @apply prose-xl max-xs:prose-xl prose-h4:text-2xl max-xs:prose-h4:text-xl prose-ul:list-disc prose-ol:list-decimal prose-li:my-0 prose-ul:my-0 prose-ol:my-0 prose-li:leading-8 prose-a:link prose-a:link-underlined prose-headings:font-semibold

  prose-code:bg-grayscale-200 dark:prose-code:bg-grayscale-700 prose-code:rounded prose-code:py-0.5 prose-code:px-1

  prose-blockquote:border-l-8 prose-blockquote:border-primary-300 dark:prose-blockquote:border-primary-900 prose-blockquote:bg-grayscale-100 dark:prose-blockquote:bg-grayscale-800 prose-blockquote:rounded-r-lg prose-blockquote:pr-4 prose-blockquote:py-0.5 prose-blockquote:text-grayscale-500 prose-blockquote:dark:text-grayscale-400

  prose-video:my-6 prose-video:max-h-96

  prose-table:border-collapse prose-th:border prose-td:border prose-td:border-grayscale-700 dark:prose-td:border-grayscale-100 prose-th:border-grayscale-700 dark:prose-th:border-grayscale-100 prose-th:p-2 prose-td:p-2 prose-th:bg-offset-200 even:prose-tr:bg-offset-100  odd:prose-tr:bg-offset-50 dark:prose-th:bg-grayscale-800 odd:dark:prose-tr:bg-grayscale-600 even:dark:prose-tr:bg-grayscale-700;
}

.comment-button {
  @apply border border-transparent hover:border-grayscale-300 active:bg-grayscale-100 dark:active:bg-grayscale-600 transition duration-300 rounded-md h-9 w-9 leading-none flex items-center justify-center;
}
